.services {
  width: 100%;
  max-width: 100%;
  max-height: 100dvh;
  height: 100dvh;
  margin-top: 0;
  display: flex;
  .content {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 100%;
    width: 100%;
  }
  &_cards {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    margin-top: 3em;
    flex-shrink: 0;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 30px;
    gap: 2em;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &_title {
    margin: 20px auto;
    font-size: 3em;
    font-style: normal;
    font-weight: 700;
  }
}

.serviceCard {
  border-radius: 20px;
  padding: 1.5vw;
  background: #FFF;
  box-shadow: 0 12px 40px 0 rgba(0, 0, 0, 0.10);
  display: flex;
  flex-direction: column;
  width: 440px;
  min-width: 320px;
  height: 60vh;
  margin: auto;
  transition: all 0.2s ease;
  cursor: pointer;
  position: relative;
  &:nth-child(1) {
    margin-left: 2em;
  }
  &_tags {
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    &__item {
      border-radius: 35px;
      background: #0038FF;
      box-shadow: 0 12px 40px 0 rgba(0, 0, 0, 0.10);
      margin-left: 6px;
      padding: 6px 14px;
      color: white;
    }
  }
  &:hover {
    transform: scale(1.05);
  }
  &_icon {
    margin: auto;
    margin-top: 0.5em;
    margin-bottom: 0;
    img {
      height: 25vh;
    }
  }
  &_title {
    font-size: 1.5em;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    margin-top: 1em;
  }
  &_text {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    margin-top: 2vh;
  }
}


@media screen and (max-width: 1368px) {
  .serviceCard {
    &_title {
      font-size: 1.5vw;
    }
    &_text {
      font-size: 1.2vw;
    }
  }
}

@media screen and (max-width: 460px) {
  .services {
    &_cards {
      margin-top: 1vh;
    }
  }
  .serviceCard {
    padding: 3vw;
    &_title {
      font-size: 6vw;
      text-align: center;
    }
    &_text {
      font-size: 3.5vw;
    }
  }
}