.services2 {
  width: 100%;
  max-width: 100%;
  min-height: 100dvh;
  margin-top: 0;
  display: flex;
  .content {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 100%;
    width: 100%;
    height: 100%;
    padding-bottom: 5em;
    padding: 2em;
  }

  &_title {
    margin: 1em auto;
    font-size: 3em;
    font-style: normal;
    font-weight: 700;
  }
  .items {
    display: none;
    flex-direction: row;
  }
  .items_mobile {
    display: flex;
    margin: auto;
    width: 70%;
  }
  .acc {
    width: 100%;
    button {
      svg {
        color: #0038FF;
        height: 22px;
        width: 22px;
      }
    }
  }
}

@media screen and (max-width: 460px) {
  .services2 {
    .content {
      padding: 0.5em;
    }
    .items {
      flex-direction: column;
      display: none;
    }
    .items_mobile {
      display: flex;
      padding: 0.5em;
      width: 100%;
    }
    .acc {
      width: 100%;
    }
  }
}