.menu {
  display: flex;
  flex-direction: column;
  background: #D7DFFF;
  width: 190px;
  height: 100dvh;
  padding-top: 20px;
  position: fixed;
  z-index: 99998;
  .active {
    display: flex;
  }
  .logo {
    font-weight: 600;
    color: black;
    font-size: 32px;
    margin-left: 24px;
    margin-top: 1em;
  }
  .nav {
    display: flex;
    margin: 8vh auto 0 24px;
    flex-direction: column;
  }
  .item {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
    margin-bottom: 1.5em;
  }
  .button {
    margin: auto;
    margin-top: 5vh;
  }
  .bottom {
    margin-bottom: 1em;
    margin-top: auto;
    margin-left: 24px;
    div {
      margin-top: 1em;
      a {
        margin-right: 1em;
      }
    }
  }
}

.hamburger {
  position: absolute;
  z-index: 99999;
  top: 15px;
  left: 20px;
  display: none;
  label {
    display:flex;
    flex-direction:column;
    width:40px;
    cursor:pointer;
  }

  label span {
    background: black;
    border-radius:5px;
    height:4px;
    margin: 4px 0;
    transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }


  span:nth-of-type(1){
    width:50%;

  }

  span:nth-of-type(2){
    width:100%;
  }


  span:nth-of-type(3){
    width:75%;

  }


  input[type="checkbox"]{
    display:none;
  }

  label:has(input[type="checkbox"]:checked) {
    span {
      background: black;
    }
  }


  input[type="checkbox"]:checked ~ span:nth-of-type(1){
    transform-origin:bottom;
    transform:rotatez(45deg) translate(4px,0px)
  }


  input[type="checkbox"]:checked ~ span:nth-of-type(2){

    transform-origin:top;
    transform:rotatez(-45deg)
  }


  input[type="checkbox"]:checked ~ span:nth-of-type(3){

    transform-origin:bottom;
    width:50%;
    transform: translate(18px,-6px) rotatez(45deg);

  }


}

.backdrop {
  position: absolute;
  z-index: 99997;
  width: 100dvh;
  height: 100dvh;
  background: black;
  opacity: 0.6;
}
@media screen and (max-width: 460px) {
  .menu {
    display: none;
    padding-top: 60px;
    opacity: 0;
    transition: all 0.3s ease;
  }
  .active {
    display: flex;
    opacity: 1;
  }
  .hamburger {
    display: block !important;
  }
}