.process {
  width: 100%;
  height: 65vh;
  padding: 4em 2em;
  .content {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  &_cards {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    margin-top: 8em;
    flex-shrink: 0;
    &__item {
      border-radius: 20px;
      background: #FFF;
      box-shadow: 0 12px 40px 0 rgba(0, 0, 0, 0.10);
      padding: 1.4em;
      position: relative;
      margin: auto 1.5em;
      height: 9em;
      max-width: 18em;
      &___title {
        color: #212121;
        font-size: 1.2em;
        font-weight: 600;
      }
      &___text {
        margin-top: 1em;
        font-size: 1em;
      }
      .arrow {
        right: -80px;
        position: absolute;
      }
      &:nth-child(1), &:nth-child(3) {
        .arrow {
          top: -40px;
        }
      }
      &:nth-child(2), &:nth-child(4){
        .arrow {
          top: auto;
          bottom: -58px;
        }
      }
    }
  }
  &_title {
    font-size: 3em;
    font-style: normal;
    font-weight: 700;
    margin: 1em auto 0;
  }

}