.partners {
  width: 100%;
  background: #E7ECFF;
  height: 35vh;
  padding: 3em;
  .content {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  &_cards {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    margin-top: 5em;
    flex-wrap: wrap;
    &__item {
      color: #71767D;
      font-size: 2.5vw;
      font-style: normal;
      font-weight: 700;
      line-height: 150%;
      margin: auto;
      transition: all 0.2s ease;
      &:hover {
        transform: scale(1.1);
        color: #0038FF;
      }
    }
  }
  &_title {
    margin: 0 auto;
    font-size: 3em;
    font-style: normal;
    font-weight: 700;
  }
}
@media screen and (max-width: 460px) {
  .partners {
    &_cards {
      flex-direction: column;
      margin-top: 3vh;
      &__item {
        font-size: 6vw;
      }
    }
    &_title {
      font-size: 10vw;
    }
  }
}