.contact {
  width: 100%;
  height: 70.5vh;
  padding: 4em;
  
  .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &_title {
    color: #000;
    text-align: center;
    font-size: 3em;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin: 0 auto;
  }
  &_form {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 6em;
    // border: #0038FF 1px solid;
    gap: 0.7em;
    &__input {
      border-radius: 20px;
      background: #E7ECFF;
      outline: none;
      border: none;
      font-size: 1em;
      padding: 1em;
      color: black;
      &::placeholder {
        color: #979797;
      }
      &:focus {
        outline: none;
      }
    }
    &__checkbox {
      border: none;
      border-radius: 50%;
    }
    label {
      display: inline-block;  // maintain integrity
      overflow: hidden;       //
      user-select: none;
      padding: 3px;  // enlargen clickable area and make room for focus styling
      margin-top: 0.5em;
      span {
        margin-left: 0.5em;
      }
    }
    input[type='checkbox'],
    input[type='radio'] {
      --active: #275EFE;
      --active-inner: #fff;
      --focus: 2px rgba(39, 94, 254, .3);
      --border: #BBC1E1;
      --border-hover: #275EFE;
      --background: #fff;
      --disabled: #F6F8FF;
      --disabled-inner: #E1E6F9;
      // -webkit-appearance: none;
      // -moz-appearance: none;
      height: 21px;
      outline: none;
      display: inline-block;
      vertical-align: top;
      position: relative;
      margin: 0;
      cursor: pointer;
      border: 1px solid var(--bc, var(--border));
      background: var(--b, var(--background));
      transition: background .3s, border-color .3s, box-shadow .2s;
      &:after {
        content: '';
        display: block;
        left: 0;
        top: 0;
        position: absolute;
        transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
      }
      &:checked {
        --b: var(--active);
        --bc: var(--active);
        --d-o: .3s;
        --d-t: .6s;
        --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
      }
      &:disabled {
        --b: var(--disabled);
        cursor: not-allowed;
        opacity: .9;
        &:checked {
          --b: var(--disabled-inner);
          --bc: var(--border);
        }
        & + label {
          cursor: not-allowed;
        }
      }
      &:hover {
        &:not(:checked) {
          &:not(:disabled) {
            --bc: var(--border-hover);
          }
        }
      }
      &:focus {
        box-shadow: 0 0 0 var(--focus);
      }
      &:not(.switch) {
        width: 21px;
        &:after {
          opacity: var(--o, 0);
        }
        &:checked {
          --o: 1;
        }
      }
      & + label {
        font-size: 14px;
        line-height: 21px;
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
        margin-left: 4px;
      }
    }
    input[type='checkbox'] {
      &:not(.switch) {
        border-radius: 7px;
        &:after {
          width: 5px;
          height: 9px;
          border: 2px solid var(--active-inner);
          border-top: 0;
          border-left: 0;
          left: 6px;
          top: 3px;
          transform: rotate(var(--r, 20deg));
        }
        &:checked {
          --r: 43deg;
        }
      }
      &.switch {
        width: 38px;
        border-radius: 11px;
        &:after {
          left: 2px;
          top: 2px;
          border-radius: 50%;
          width: 15px;
          height: 15px;
          background: var(--ab, var(--border));
          transform: translateX(var(--x, 0));
        }
        &:checked {
          --ab: var(--active-inner);
          --x: 17px;
        }
        &:disabled {
          &:not(:checked) {
            &:after {
              opacity: .6;
            }
          }
        }
      }
    }
    textarea {
      border-radius: 20px;
      background: #E7ECFF;
      outline: none;
      border: none;
      padding: 1em;
      color: black;
      font-size: 1em;
      font-family: Inter, Roboto, Arial, sans-serif;
      resize: none;
      height: 150px;
      &::placeholder {
        color: #979797;
      }
      &:focus {
        outline: none;
      }
    }

    label {
      color: #000;
      font-size: 1em;
      font-style: normal;
      font-weight: 400;
      cursor: pointer;
    }
    input:-webkit-autofill,
    input:-webkit-autofill:focus {
      transition: background-color 0s 600000s, color 0s 600000s;
    }

    &__button {
      border-radius: 40px;
      background: #0038FF;
      padding: 12px 24px;
      width: 45%;
      border: none;
      cursor: pointer;
      font-size: 1.1em;
      margin: auto;
      margin-top: 5px;
      color: white;
    }
  }
}

@media screen and (max-width: 1368px) {
  .contact {
    height: 100vh;
    padding: 5vw;
    &_title {
      margin-top: 5vh;
    }
  }
}

@media screen and (max-width: 460px) {
  .contact {
    height: 100vh;
    padding: 5vw;
    &_title {
      margin-top: 5vh;
      font-size: 32px;
    }
    &_form {
      &__button {
        width: 60%;
      }
    }
  }

}