.works {
  height: 100vh;
  max-height: 100vh;
  background: #E7ECFF;
  display: flex;
  flex-direction: column;
  .content {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  &_title {
    font-size: 3em;
    font-style: normal;
    font-weight: 700;
    margin: auto;
    margin-bottom: 1em;
  }
  &_cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 0;
    width: 90%;
    flex-basis: 33.333333%;
    margin: auto;
  }
}

.worksCard {
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0 12px 40px 0 rgba(0, 0, 0, 0.10);
  min-width: 330px;
  max-width: 440px;
  height: 330px;
  margin: 2em auto auto;
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease;
  cursor: pointer;
  position: relative;
  &:hover {
    transform: scale(1.05);
  }
  &_skill {
    position: absolute;
    top: 12px;
    display: flex;
    flex-direction: row;
   &__item {
     border-radius: 20px;
     background: #FFF;
     box-shadow: 0 12px 40px 0 rgba(0, 0, 0, 0.10);
     margin-left: 12px;
     padding: 6px 14px;
   }
  }
  &_image {
    width: 100%;
    height: 220px;
    margin: 0 auto auto;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px;
    }
  }
  &_title {
    padding: 24px;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    margin: auto;
  }
}